.contact-child {
  position: absolute;
  bottom: 193px;
  left: calc(50% - 716px);
  background-color: var(--color-dimgray);
  width: 1440px;
  height: 1px;
}
.made-by-syeda {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 582px);
  letter-spacing: -0.5px;
  line-height: 36px;
  font-weight: 600;
}
/* .background {
  position: absolute;
  top: calc(50% - 307.5px);
  left: calc(50% - 327px);
  background-color: rgba(35, 30, 30, 0.86);
  filter: blur(2px);
  /* border: 1px solid var(--color-darkslategray);
  box-sizing: border-box;
  width: 654px;
  height: 550px;
} */

.background {
  position: absolute;
  top: calc(50% - 307.5px);
  left: calc(50% - 450px);
  background-color: #231e1e;
  filter: blur(4px);
  border: 1px solid #413e3e;
  width: 72%;
  height: 550px;
}

.image {
  top: calc(50% - 303px);
  left: 670px;
  position: absolute;
  width: 400px;
  height: 540px;
  background-image: url(./public/contact-me-image.jpg);
  background-size: cover;
  
}

a {
  text-decoration: none;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-lato);

}

a:hover {
  color: rgba(241, 137, 114, 0.79);
}

.div,
.httpsgithubcoms-abeera,
.httpswwwlinkedincominsy,
.sabeerauniminervaedu,
.syedaabeeraamirgmailcom {
  position: absolute;
  top: 507px;
  left: 350px;
  letter-spacing: -0.5px;
  line-height: 36px;
  display: inline-block;
  width: 226px;
}
.div,
.httpsgithubcoms-abeera,
.httpswwwlinkedincominsy,
.syedaabeeraamirgmailcom {
  top: 363px;
  width: 517px;
}
.div,
.httpsgithubcoms-abeera,
.syedaabeeraamirgmailcom {
  top: 436px;
  width: 258px;
}
.div,
.syedaabeeraamirgmailcom {
  top: 217px;
  width: 226px;
}
.syedaabeeraamirgmailcom {
  top: 290px;
  width: 266px;
}
.span {
  color: var(--color-gainsboro);
}
.contact-me1 {
  margin: 0;
  font-size: 15px;
}
.contact-me {
  position: absolute;
  top: 106px;
  left: calc(50% - 300px);
  font-size: 40px;
  letter-spacing: -0.5px;
  line-height: 70px;
  font-family: var(--font-overpass);
  display: inline-block;
  width: 332px;
  height: 100px;
  color: var(--color-orange);
}
.first-box-child {
  position: absolute;
  top: 217px;
  left: 280px;
  width: 46.68px;
  height: 335.61px;
}
.first-box,
.nav-bar-child {
  position: absolute;
  overflow: hidden;
}
.first-box {
  top: 94px;
  left: -1px;
  width: 1247px;
  height: 750px;
  /* background-image: url(./public/first-box@3x.png); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-lato);
}
/* .nav-bar-child {
  height: 100%;
  width: 101.13%;
  top: 0;
  right: -1.13%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.contact1,
.home,
.projects,
.resume {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 30px;
  left: calc(50% - 175px);
  font-size: var(--font-size-lg);
  letter-spacing: -0.5px;
  font-weight: 700;
  font-family: var(--font-manrope);
  color: var(--color-gainsboro);
  text-align: left;
  display: inline-block;
}
.contact1,
.projects,
.resume {
  left: calc(50% - 93px);
}
.contact1,
.resume {
  left: calc(50% + 10px);
}
.contact1 {
  left: calc(50% + 113px);
}
.home-parent {
  position: absolute;
  top: 0;
  left: calc(50% - 212px);
  width: 424px;
  height: 80px;
  overflow: hidden;
}
.v,
.v1 {
  position: absolute;
  top: 11.46px;
  left: calc(50% - 14.5px);
  letter-spacing: -0.74px;
  display: inline-block;
  width: 23px;
  height: 40.54px;
}
.v1 {
  top: 40.54px;
  left: calc(50% + 14.5px);
  transform: rotate(-180deg);
  transform-origin: 0 0;
}
.nav-bar,
.v-parent {
  position: absolute;
  top: 20px;
  left: 96px;
  width: 29px;
  height: 52px;
}
.nav-bar {
  top: 0;
  left: 0;
  width: 1238px;
  height: 80px;
  font-size: 35.38px;
  color: var(--color-gainsboro);
  font-family: var(--font-thicccboi);
} */
.contact {
  position: relative;
  background-color: var(--color-gray-200);
  width: 100%;
  height: 900px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-darkgray-100);
  font-family: var(--font-manrope);
}
