body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-thicccboi: THICCCBOI;
  --font-manrope: Manrope;
  --font-marcellus: Marcellus;
  --font-overpass: Overpass;
  --font-lato: Lato;

  /* font sizes */
  --font-size-16xl-4: 31px;
  --font-size-lg: 18px;
  --font-size-16xl: 30px;
  --font-size-6xl: 20px;
  --font-size-base: 16px;

  /* Colors */
  --color-gray-100: #2d2c2c;
  --color-gainsboro: #dedede;
  --color-darkgray-100: #959595;
  --color-brown: #a1321a;
  --color-white: #fff;
  --color-silver: rgba(182, 182, 182, 0.49);
  --color-burnt-orange: #782411bd;
  --color-orange: #d14628;
  
  /* Paddings */
  --padding-base: 16px;
  --padding-29xl: 48px;
  --padding-17xl: 25px;
  --padding-11xs: 2px;
  --padding-7xs: 6px;

  /* border radiuses */
  --br-9xs: 4px;
  --br-13xl: 32px;
}
