<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Marcellus:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Overpass:wght@400&display=swap"
    />

    <style>
      @font-face {
        font-family: "THICCCBOI";
        src: url("THICCCBOI-Bold.ttf");
        font-weight: 700;
      }
    </style>
  </head>
  <body>
    <div class="desktop-3">
      <div class="desktop-3-child"></div>
      <div class="made-by-syeda">
        Made by Syeda Abeera Amir — Copyright 2023
      </div>
      <div class="sixth-box">
        <b class="contact-me">Contact Me</b>
        <div class="if-you-are-container">
          <p class="if-you-are">
            If you are looking to hire a creative problem solver in
          </p>
          <p class="if-you-are">data science, machine learning, or research,</p>
          <p class="if-you-are">I would love to chat!</p>
        </div>
        <button class="btn" autofocus>
          <img class="group-icon" alt="" src="{{ url_for('static', filename='public/group.svg') }}" />

          <div class="syedaabeeraamirgmailcom">syeda.abeera.amir@gmail.com</div>
        </button>
      </div>
      <div class="fifth-box">
        <div class="projects-heading-dev">
          <b class="personal-projects">personal projects</b>
        </div>
        <div class="project-dev">
          <img
            class="project-dev-child"
            alt=""
            src="{{ url_for('static', filename='public/rectangle-4@2x.png') }}"
          />

          <img
            class="project-dev-child"
            alt=""
            src="{{ url_for('static', filename='public/rectangle-41@2x.png') }}"
          />

          <img
            class="project-dev-child"
            alt=""
            src="{{ url_for('static', filename='public/rectangle-42@2x.png') }}"
          />
        </div>
      </div>
      <div class="desktop-3-item"></div>
      <div class="fourth-box">
        <div class="gallery-heading-dev">
          <b class="interests-and-passions">interests and passions</b>
        </div>
        <button class="gallergy-button" autofocus>
          <div class="gallery">Gallery</div>
        </button>
        <div class="interests-dev">
          <img
            class="arts-and-desgin"
            alt=""
            src="{{ url_for('static', filename='public/arts-and-desgin@2x.png') }}"
          />

          <img
            class="adventure-sports-icon"
            alt=""
            src="{{ url_for('static', filename='public/skydiving.jpg') }}"
          />

          <img
            class="criminal-psychology-icon"
            alt=""
            src="{{ url_for('static', filename='public/criminal-psychology@2x.png') }}"
          />

          <img 
            class="puzzles-icon" 
            alt="" 
            src="{{ url_for('static', filename='public/puzzles@2x.png') }}" 
          />

          <img
            class="martial-arts-icon"
            alt=""
            src="{{ url_for('static', filename='public/martial-arts@2x.png') }}"
          />

          <img
            class="poetry-and-story-telling"
            alt=""
            src="{{ url_for('static', filename='public/poetry-and-storytelling@2x.png') }}"
          />
        </div>
      </div>
      <div class="desktop-3-inner"></div>
      <div class="third-box">
        <div class="skills-heading-dev">
          <div class="my-skills">
            <b>My SKills</b>
          </div>
        </div>
        <div class="skills-dev">
          <div class="python">
            <div class="img">
              <img
                class="img-icon"
                alt=""
                src="{{ url_for('static', filename='public/python-logo@2x.png') }}"
              />
            </div>
            <b class="text">python</b>
          </div>
          <div class="r">
            <img class="img-icon1" alt="" src="{{ url_for('static', filename='public/img@2x.png') }}" />

            <b class="text">R</b>
          </div>
          <div class="javascript">
            <div class="img1">
              <img class="img-icon2" alt="" src="{{ url_for('static', filename='public/logo@2x.png') }}" />
            </div>
            <b class="text">javascript</b>
          </div>
          <div class="htmlcss">
            <div class="img2">
              <img class="img-icon3" alt="" src="{{ url_for('static', filename='public/htmlcss@2x.png') }}" />
            </div>
            <b class="text">html & Css</b>
          </div>
          <div class="git">
            <img class="img-icon4" alt="" src="{{ url_for('static', filename='public/img1@2x.png') }}" />

            <b class="text">
              <p class="git-source">git source</p>
              <p class="if-you-are">control</p>
            </b>
          </div>
          <div class="sql">
            <div class="img3">
              <img class="img-icon5" alt="" src="{{ url_for('static', filename='public/sql@2x.png') }}" />
            </div>
            <b class="text">SQL</b>
          </div>
          <div class="flask">
            <div class="img4">
              <img class="img-icon6" alt="" src="{{ url_for('static', filename='public/flask@2x.png') }}" />
            </div>
            <b class="text">
              <p class="git-source">flask micro</p>
              <p class="if-you-are">framework</p>
            </b>
          </div>
          <div class="tensorflow">
            <div class="img5">
              <img
                class="img-icon7"
                alt=""
                src="{{ url_for('static', filename='public/tensorflow@2x.png') }}"
              />
            </div>
            <b class="text">tensorflow</b>
          </div>
          <div class="react">
            <img class="img-icon8" alt="" src="{{ url_for('static', filename='public/img2@2x.png') }}" />

            <b class="text">react</b>
          </div>
          <div class="figma">
            <img class="img-icon9" alt="" src="{{ url_for('static', filename='public/img3@2x.png') }}" />

            <b class="text">figma</b>
          </div>
          <div class="sklearn">
            <img class="img-icon10" alt="" src="{{ url_for('static', filename='public/img4@2x.png') }}" />

            <b class="text">scikit learn</b>
          </div>
        </div>
      </div>
      <div class="line-div"></div>
      <div class="second-box">
        <img class="about-me-img" alt="" src="{{ url_for('static', filename='public/about-me-img@2x.png') }}" />

        <div class="about-me-dev">
          <div class="arrow-btn">
            <img class="arrow-btn-child" alt="" src="{{ url_for('static', filename='public/arrow-1.svg') }}" />
          </div>
          <b class="about-me">About me</b>
          <div class="my-name-is">My name is Abeera. I am a senior at Minerva University, studying Computational Sciences and Social 
            Sciences. I am particularly interested in cognitive neuroscience and machine learning and hope to do 
            interdisciplinary research in neuroscience and machine learning to develop 
            flexible and robust computational models for learning. 
            I am also excited to learn more about how the brain works to translate into a set of intersecting
            and dynamic behavior. <html lang="en">
            <head>
              <meta charset="UTF-8">
              <meta http-equiv="X-UA-Compatible" content="IE=edge">
              <meta name="viewport" content="width=device-width, initial-scale=1.0">
              <title>Document</title>
            </head>
            <body>
              
            </body>
            </html> </div>
        </div>
      </div>
      <div class="desktop-3-child1"></div>
      <div class="first-box">
        <div class="background"></div>
        <img class="picture-dev-icon" alt="" src="{{ url_for('static', filename='public/picture-dev.svg') }}" />

        <div class="intro-text-dev">
          <a class="email-button" href="mailto:syeda.abeera.amir@gmail.com">
            <img class="group-icon" alt="" src="{{ url_for('static', filename='public/group1.svg') }}" />

            <div class="syedaabeeraamirgmailcom1">
              syeda.abeera.amir@gmail.com
            </div>
          </a>
          <div class="i-aim-to">
            I aim to build flexible and robust machine learning models that can
            imitate the cognitive processes and abilities of human brain.
          </div>
          <div class="hi-i-am-container">
            <p class="if-you-are">
              <span>
                <span class="hi-i-am">Hi, I am </span>
                <span>Abeera Amir</span>
              </span>
            </p>
            <p class="an-aspiring-computational">
              An aspiring computational neuroscientist
            </p>
          </div>
        </div>
      </div>
      <div class="nav-bar">
        <img class="nav-bar-child" alt="" src="{{ url_for('static', filename='public/rectangle-1.svg') }}" />

        <div class="home-parent">
          <button class="home" autofocus>Home</button>
          <button class="projects" autofocus>Projects</button>
          <button class="resume" autofocus>Resume</button>
          <button class="contact" autofocus>Contact</button>
        </div>
        <div class="v-parent">
          <b class="v">V</b>
          <b class="v1">V</b>
        </div>
      </div>
    </div>

    <script>
      var scrollAnimElements = document.querySelectorAll("[data-animate-on-scroll]");
      var observer = new IntersectionObserver(
        (entries) => {
          for (const entry of entries) {
            if (entry.isIntersecting || entry.intersectionRatio > 0) {
              const targetElement = entry.target;
              targetElement.classList.add("animate");
              observer.unobserve(targetElement);
            }
          }
        },
        {
          threshold: 0.15,
        }
      );
      
      for (let i = 0; i < scrollAnimElements.length; i++) {
        observer.observe(scrollAnimElements[i]);
      }
      </script>
  </body>
</html>
